* { margin: 0; padding: 0; }
body {
    background-color: white;
}
textarea{
    resize:none;
}
main {
    height: 400px;
    width: 40%;
    margin: 80px auto;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    min-width: 370px;
}
#historico {
    padding-left: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 10%;
    background-color: #C4C4C4;
}
#content{
    height: 90%;
}
#local-mensagens{
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.container{
    margin-top: none;
    list-style: none;
}
.escreve{
    margin: 5px 12px 0px 12px;
    text-align: justify;
    padding: 8px;
    font-size: 0.9em;
    border: 1px solid black;
}
.button{
    margin: 0 12px 0px 12px;
    display: flex;
    font-size: 0.8em;
    justify-content: right;
}

.editar{
    background-color: #F68B5D;
    padding: 3px;
    border: none;
    border-radius: 2px;
}
button.editar:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}
button.editar:active {
    background-color: #e97949;
    transition: all 0.2s;
}
.excluir{
    background-color: #F65D5D;
    padding: 3px;
    border: none;
    border-radius: 2px;
}
button.excluir:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}
button.excluir:active {
    background-color: #fc4242;
    transition: all 0.2s;
}
#write{
    display: flex;
    justify-content: center;
}
#textarea {
    width: 70%;
    height: 106px;
    background-color: #C4C4C4;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}
#textarea textarea {
    margin: 5px;
    width: 80%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
#textarea button {
    background-color: #0066CC;
    color: white;
    padding: 5px;
    margin-top: 8px;
    margin-left: 3px;
    border-radius: 5px;
    border: none;
    height: 25px;
}
button.btn-envia:hover {
    transform: scale(1.02);
    transition: all 0.1s;
}
#textarea button:active{
    background-color: #072440;
    transition: all 0.2s;
}